.header {
    background-color: #b7cd00;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 70px;
    width: 100%;
    /* position: fixed; */
    box-sizing: border-box;
}

.menuburguer {
    padding-right: 2rem;
}

.title {
    color: white;
    margin: 0;
}

.paw {
    padding-left: 2rem;
}

.search-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    top: 70%;
    right: 25%;
}

.search-icon {
    position: absolute;
    left: 10%;
    transform: rotate(90deg);
    color: white;
}

.search {
    background: #0772d4;
    border: none;
    color: white;
    text-align: center;
    outline: None;
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.search::placeholder {
    padding-left: 30px;
    color: white;
    text-align: center;
}

.search:focus::placeholder {
    color: transparent;
  }